apiVersion: v1
kind: Service
metadata:
  name: payload-cms
  labels:
    app: portfolio-cms
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app: portfolio-cms